@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css";

.footer-group-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-group {
    position: relative;
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    grid-template-rows: 1fr repeat(4, 1fr);
    flex-wrap: wrap;
    align-items: stretch;
}

.btn-matrix > .rows-name, .columns-name {
    align-self: center;
}

.btn-matrix > .rows-name:hover, .columns-name:hover {
    background-color: #73e59d;
}

.btn-matrix:first-child {
    border-right: 1px solid #f00;
}

/*Стили всех названий колонок*/
.btn-matrix > .doctors {
    justify-self: center;
    cursor: pointer;

    margin-bottom: 10px;
    margin-right: 10px;
}

/*Стили всех названий строк*/
.btn-matrix > .days {
    grid-column-start: 1;
    cursor: pointer;

    margin-right: 10px;
}

/*Расположение первого названия колонки*/
.btn-matrix > .doctors:first-child {
    grid-column-start: 2;
    justify-self: center;
    cursor: pointer;
}

/*Фиксим длину первой кнопки*/
.btn-matrix > .btn:nth-child(n + 4) {
    margin-top: -1px;
}

/*Фиксим border последнего эл-та*/
.btn-matrix > .btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-matrix {
    margin: 20px 0;
}